{% extends "layout.html" %}

{% block content %}
<div id="profile">
    {% if company and user %}
        <div class="header">
            <h1>Welcome to {{ company[2] }}</h1>
            {% if user[1] == "user" %}
                {% if scope|length > 0 %}
                <div class="btn-style">
                    <a href="/users/{{user[0]}}/reports/{{company[1]}}/create">Submit report</a>
                </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="profile-info">
        
            <div class="container">
                <h2>Country</h2>
                <div class="value">
                    <p>{{ company[3] }}</p>
                </div>
            </div>
        
            <div class="container">
                <h2>Contact</h2>
                <div class="value">
                    <p>{{ company[4] }}</p>
                </div>
            </div>
        
        </div>
        
        <div class="container">
            <div class="edit">
                <h2><span>Scope</span></h2>
                    {% if scope|length > 0 %}
                        <div class="info">
                            {% for url in scope %}
                            <div class="scope">
                                <li value="{{url[0]}}">{{ url[1] }}</li>
                                {% if user[2] %}
                                <form action="/companies/{{user[0]}}/edit/scope/delete" method="post">
                                    <input type="hidden" name="url_id" value="{{url[0]}}">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf }}">
                                    <button class="btn-style" type="submit" value="Delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </form>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% if user[2] %}
                <form method="POST" action="/companies/{{user[0]}}/edit/scope/add">
                    <input name="url" class="form-input">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf }}">
                    <button type="submit" class="btn-style">Add</button>
                </form>
                {% endif %}
            </div>
        </div>

        <div class="container">
            <div class="edit">
                <h2><span>Description</span></h2>
                {% if user[2] %}
                <div class="info">
                    <form class="column" method="POST" action="/companies/{{user[0]}}/edit/description">
                        <textarea class="form-input" name="description" class="form-input">{{ company[5] }}</textarea>
                        <input type="hidden" name="csrf_token" value="{{ session.csrf }}">
                        <button type="submit" class="btn-style">Save</button>
                    </form>
                </div>
                {% else %}
                <div class="info">
                    <pre>{{ company[5] }}</pre>
                </div>
                {% endif %}
            </div>
        </div>
        {% if user[2] %}
            {% if reports %}
                {% for report in reports %}
                <div class="container">
                    <div class="report">
                        <p><a href="/users/{{report[3]}}/reports/{{report[0]}}">{{ report[1] }}</a></p>
                        <div class="right-info">
                            <p class="item {{report[2]}}">{{report[2]}}</p>
                            <p class="item">{{report[4]}}</p>
                        </div>
                
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endif %}   
</div>
{% endblock %}