<!DOCTYPE html>
<head>
    <title>Oneday</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul class="mainNavbar">
            <div class="container">
                <a href="/" class="navLinks">Home</a>
            </div>
            <div class="container">
                {% if session.role == "user"%}
                    <a href="/users/{{ session.username }}" class="navLinks">{{ session.username }}</a>
                    <span>|</span>
                    <a href="/users/logout" class="navLinks">Logout</a>
                {% else %}
                    <a href="/companies/{{ session.username }}" class="navLinks">{{ session.username }}</a>
                    <span>|</span>
                    <a href="/companies/logout" class="navLinks">Logout</a>
                {% endif %}
            </div>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>