{% extends "layout.html" %}

{% block content %}
<div id="profile">
    {% if user %}
    <div class="profile-info">
        <div class="container">
            <h1>{{ user[0] }}</h1>
        </div>

        {% if user[1] %}
        <div class="container">
            <h2>Full name</h2>
            <div class="value">
                <p>{{ user[1] }}</p>
            </div>
        </div>
        {% endif %}

        <div class="container">
            <h2>Country</h2>
            <div class="value">
                <p>{{ user[2] }}</p>
            </div>
        </div>
        
        <div class="container">
            <h2>Reports</h2>
            <div class="value">
                <p>{{ user[3] }}</p>
            </div>
        </div>
        
    </div>
    {% endif %}

    {% if reports %}
        {% for report in reports %}
            <div class="container">
                <div class="report">
                    <p>Submission <a href="/users/{{user[0]}}/reports/{{report[0]}}">{{ report[1] }}</a> to <a href="/companies/{{report[4]}}">{{report[5]}}</a></p>
                    <div class="right-info">
                        <p class="item {{report[3]}}">{{report[3]}}</p>
                        <p class="item">{{report[2]}}</p>
                    </div>
                    
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}