{% extends "layout.html" %}

{% block content %}
<div id="profile">
    {% if reports %}
        {% for report in reports %}
            <div class="container">
                <div class="report">
                    <p>Submission <a href="/users/{{user[0]}}/reports/{{report[0]}}">{{ report[1] }}</a> to <a href="/companies/{{report[3]}}">{{report[4]}}</a></p>
                    <p>{{report[2]}}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}