{% extends "layout.html" %}

{% block content %}
<div class="content-box">
    <div class="inline-box">
        <div class="login-container">
            <h2>Login to your user</h2>
            {% if error %}
                <p class="errortext">{{ error }}</p>
            {% endif %}
            <form action="/users/login" method="POST" id="regForm" class="form-control">
                <div class="form-group">
                    <label>Username</label>
                    <input class="form-input" name="username" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-input" name="password" type="password" required>
                </div> 
                <div class="form-group">
                    <button type="submit">Login</button>
                </div>
            </form>
            <h3 class="no-account">Dont have an account? <a href="/register">Create one!</a></h3>
        </div>
    </div>
</div>

{% endblock %}