{% extends "layout.html" %}

{% block content %}
<div id="profile">
    <h1 class="company-info">List of companies</h1>
    {% if companies %}
        {% for company in companies %}
            <a class="container company" href="/companies/{{ company[0] }}">
                <div class="info">
                    <h1>{{ company[1] }}</h1>
                    {% if company[2] is not none %}
                        <p>Last submission {{ company[2] }} days ago</p>
                    {% else %}
                        <p>No submissions reported</p>

                    {% endif %}
                </div>
            </a>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}