<!DOCTYPE html>
<head>
    <title>pChat</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul class="mainNavbar">
            <div class="container">
                <a href="/" class="navLinks">Home</a>
            </div>
            <div class="container">
                <a href="/users/{{ session.id }}" class="navLinks">{{ session.username }}</a>
    
                <a href="/logout" class="navLinks">Logout</a>
            </div>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>