{% extends "layout.html" %}

{% block content %}
<div class="content-box">
    <div class="inline-box">
        <h2>Login to your account</h2>
        {% if error %}
            <p class="errortext">{{ error }}</p>
        {% endif %}
        <form action="/login" method="POST" id="regForm">
            <input placeholder="Username" name="username" required><br>
            <input placeholder="Password" name="password" required><br>

            <button type="submit">Login</button>
        </form>
    </div>
</div>

{% endblock %}